.calc{
    width: 400px;
    height: 600px;
    background-color: rgb(39, 38, 38);
    margin-left: 600px;
}
.screen{
width: 350px;
height: 40px;
margin-left: 20px;
margin-top: 10px;
pointer-events: none;

}
.btn{
    width: 60px;
    height: 60px;
    margin-left: 29px;
    margin-top: 30px;
}