.calc{
    width: 400px;
    height: 600px;
    background-color: rgb(39, 38, 38);
    margin-left: 600px;
    border: solid;
    border-color: rgb(43, 43, 44);
    border-radius: 3px;
}
.screen{
width: 350px;
height: 40px;
margin-left: 20px;
margin-top: 10px;
pointer-events: none;


}
.btn{
    width: 60px;
    height: 60px;
    margin-left: 29px;
    margin-top: 30px;
    border-radius: 5px;

    
}
.header{
    background-color: rgb(0, 0, 0);
    width: 392px;
    height: 40px;
    color: white;
    
    border: solid;
    border-color: rgb(39, 38, 38);
   
    font-size: 15px;
    
}
.name{
    margin-left:130px;
    font-size: 22px;
    margin-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
body{
    background-color: rgb(0, 0, 0);
}
.screen{
    border-radius: 5px;
}